/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.App {
  font-family: Montserrat;
  font-weight: 600;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

.sticky-nav a {
  color: black;
}

.option:hover,
.option a:hover {
  color: #f02098;
  font-weight: bold;
  margin-top: -4px;
  transition: all 0.2s ease-in-out;
}

/* for banner */
.main-wraper {
  overflow: hidden;
}
.banner-bg {
  background-image: url("./assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 103vw;
}

.MuiGrid-spacing-xs-10 {
  width: 100% !important;
  margin: 0 !important;
  margin-bottom: -34px !important;
}

.MuiGrid-root {
  text-align: initial;
}
