/** @format */
.banner_container {
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 128px 100px 140px 100px;
}
/* bubbles for banner */
.circle1 {
  background-color: #f02098;
  height: 38px;
  width: 38px;
  top: 150px;
  position: absolute;
  border-radius: 50%;
  animation: shake 2s alternate;
  animation-iteration-count: infinite;
}
.circle2 {
  background: linear-gradient(to bottom, #f02098 0%, #15315e 100%);
  height: 38px;
  width: 38px;
  right: 200px;
  top: 210px;
  position: absolute;
  border-radius: 50%;
  animation: shake 2s alternate;
  animation-iteration-count: infinite;
}

.circle3 {
  background-color: #15315e;
  height: 14px;
  width: 14px;
  bottom: 200px;
  position: absolute;
  border-radius: 50%;
  animation: jump 2s alternate;
  animation-iteration-count: infinite;
}

.circle4 {
  background: linear-gradient(to bottom, #4468a0 0%, #af337c 100%);
  height: 14px;
  width: 14px;
  margin-left: 50%;
  bottom: 100px;
  position: absolute;
  border-radius: 50%;
  animation: jump1 2s alternate;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.3);
  }
}

@keyframes jump {
  0% {
    bottom: 200px;
  }
  100% {
    bottom: 340px;
  }
}

@keyframes jump1 {
  0% {
    bottom: 100px;
    margin-left: 40%;
  }
  100% {
    bottom: 140px;
  }
}

._1bpcM {
  position: fixed !important;
  background-color: #25d366 !important;
  color: white !important;
  margin-right: unset !important;
  margin-bottom: 10px !important;
}

._1fOYS {
  z-index: 2 !important;
}

._2iWL7 {
  position: fixed !important;
}

.banner-left {
  max-width: 600px;
  z-index: 1;
}

.heading {
  font-family: "A Love of Thunder" !important;
  font-size: 5rem !important;
}

.typo {
  font-family: "Poppins" !important;
  font-size: 2rem !important;
  font-weight: 500 !important;
}

.hire-btn {
  background-color: #f02098 !important;
  color: white !important;
  font-size: 16px !important;
  padding: 14px 42px !important;
  margin-top: 28px !important;
  font-family: "Poppins" !important;
  font-weight: 500 !important;
}

.hire-btn a {
  color: white !important;
}

.hire-btn:hover {
  background: linear-gradient(to bottom, #f02098 0%, #15315e 100%);
}

.banner_container img {
  width: 650px;
}
.name {
  color: #f02098 !important;
}

/* sidebar social icons */
.sidebar-social-icons {
  position: fixed;
  transform: rotate(90deg);
  left: -72px;
  bottom: 50%;
}
.fa {
  padding: 12px;
  font-size: 18px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  transform: scale(1.1);
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-globe {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

@media (max-width: 1440px) {
  .banner_container {
    padding: 128px 16px 140px 16px;
  }
  .banner_container img {
    width: 500px;
  }
  .sidebar-social-icons {
    display: none;
  }
}

@media (max-width: 1200px) {
  .typo {
    font-size: 2rem !important;
  }
  .banner-left {
    max-width: 480px;
  }
  .heading {
    font-size: 4rem !important;
  }
  .banner_container img {
    width: 400px;
  }
}

@media (max-width: 1025px) {
  .banner-left {
    max-width: 430px;
  }
  .heading {
    font-size: 3rem !important;
  }
  .banner_container img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .typo {
    font-size: 1.2rem !important;
  }

  .heading {
    font-size: 2rem !important;
  }
  .circle2 {
    right: 100px;
    top: 400px;
  }
  ._2iWL7 {
    width: unset !important;
  }
}
